<form class="form-inline d-flex justify-content-center" action="/Customer/Home/Search" method="post">
    <div class="form-group">
        <input name="q" type="text" class="form-control me-2" placeholder="Search" />
    </div>
    <button class="btn btn-warning" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
</form>
