@model ApplicationUser
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mt-3">
                <li class="breadcrumb-item"><a class="link-dark" href="/">Home</a></li>
                <li class="breadcrumb-item"><a class="link-dark" href="/Admin/User">Admin Users</a></li>
                <li class="breadcrumb-item active" aria-current="page">Delete User</li>
            </ol>
        </nav>

        <h3>Delete User</h3>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                Email
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Email)
            </dd>
        </dl>

        <form class="mt-3" asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <button type="submit" class="btn btn-danger btn-sm"><i class="fa-solid fa-trash"></i> Delete</button>
            <a asp-action="Index" class="btn btn-primary btn-sm"><i class="fa-solid fa-right-from-bracket"></i> Back to List</a>
        </form>
    </div>
</div>

